audioread==3.0.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
decorator==5.1.1
filelock==3.16.1
fsspec==2024.10.0
huggingface-hub==0.26.5
idna==3.10
joblib==1.4.2
lazy-loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
msgpack==1.1.0
numba==0.60.0
numpy==1.26.4
packaging==24.2
platformdirs==4.3.6
pooch==1.8.2
pycparser==2.22
pyyaml==6.0.2
reazonspeech-k2-asr @ file:///C:/Users/yuta/Desktop/Private/reazonspeech-k2-v2/ReazonSpeech/pkg/k2-asr
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
sherpa-onnx==1.10.35
soundfile==0.12.1
soxr==0.5.0.post1
threadpoolctl==3.5.0
tqdm==4.67.1
typing-extensions==4.12.2
urllib3==2.2.3
